<h1>About</h1>
<p>
	<b><%= link_to "One Month Rails", "http://onemonthrails.com" %></b>
	is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month.  This is a sample application.
</p>